body{
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav{
    background-color: #1cea9b;
    border-radius: 0;
    border: 0;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1 { /*Restaurant Name*/
    font-family: 'Lora', serif;
    color: #144680;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #144680;
    /* text-align: center; */
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #144680;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -42px;
  }

  li hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* END HEADER */

  /* BODY */
  #home-tiles p {
    padding: 10px;
    text-align: left;
  }
  .mycontainer{
    background-color: #144680;
    border: 1px solid black;
    color:#E7E7E7;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}